/* Sistema de abas */
.abas,
#jogoPrincipal,
#statusPersonagem,
#historico {
    display: none;
}
#jogoPrincipal:checked + .abas,
#statusPersonagem:checked + .abas,
#historico:checked + .abas {
    display: block;
    grid-area: abaVisualizada;
    background-color: var(--cor-de-fundo);
}

/* Grid Layout */ 
body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header header"
        "sideBar abaVisualizada";
    background-color: var(--cor-do-body);
    gap: 5px;
}

/* Estilização da Barra Lateral */
#sideBar {
    grid-area: sideBar;
    background-color: var(--cor-segundaria);
    display: flex;
    flex-direction: column;
    align-items: right;
}
.btnAbas {
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-alerta-e-destaques);
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    font-family: var(--fonte-das-opcoes);
}
.btnAbas:hover {
    background-color: var(--cor-de-alerta-e-destaques);
    color: var(--cor-de-fundo);
}
.btnAbas .imgAbas {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    fill: currentColor;
    flex-shrink: 0;
}

/* Estilização do Cabeçalho */
header {
    grid-area: header;
    background-color: var(--cor-segundaria);
    color: var(--cor-dos-titulos);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--fonte-dos-titulos);
}