/* Sistema de abas */
.abas,
#jogoPrincipal,
#statusPersonagem,
#historico {
    display: none;
}
#jogoPrincipal:checked + .abas,
#statusPersonagem:checked + .abas,
#historico:checked + .abas {
    display: block;
    grid-area: abaVisualizada;
    background-color: var(--cor-de-fundo);
}

/* Grid Layout */ 
body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header header"
        "sideBar abaVisualizada";
    background-color: var(--cor-do-body);
    gap: 5px;
}

/* Estilização da Barra Lateral */
#sideBar {
    grid-area: sideBar;
    background-color: var(--cor-segundaria);
    display: flex;
    flex-direction: column;
    align-items: right;
}
.btnAbas {
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-alerta-e-destaques);
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    font-family: var(--fonte-das-opcoes);
    border-radius: 10px;
}
.btnAbas:hover {
    background-color: var(--cor-de-alerta-e-destaques);
    color: var(--cor-de-fundo);
}
.btnAbas .imgAbas {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    fill: currentColor;
    flex-shrink: 0;
}

/* Estilização do Cabeçalho */
header {
    grid-area: header;
    background-color: var(--cor-segundaria);
    color: var(--cor-dos-titulos);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--fonte-dos-titulos);
}

/* Estilização da Aba "Jogo Principal" */
#jogoPrincipal:checked + #abaContinuarJogando {
    display: flex;
    grid-area: abaVisualizada;
    background-color: var(--cor-de-fundo);
    justify-content: center;
    align-items: center;
}
#jogoPrincipal:checked + #abaContinuarJogando .conteudoAba {
    height: 90%;
    width: 90%;
    background-color: var(--cor-segundaria);
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
        "titulo"
        "mensagem"
        "decisao";
}
#jogoPrincipal:checked + #abaContinuarJogando .conteudoAba h2 {
    grid-area: titulo;
    color: var(--cor-dos-titulos);
    font-family: var(--fonte-dos-titulos);
    text-align: center;
}
#jogoPrincipal:checked + #abaContinuarJogando .conteudoAba p {
    grid-area: mensagem;
    color: var(--cor-do-texto-principal);
    font-family: var(--fonte-do-texto-principal);
    text-align: center;
}
#jogoPrincipal:checked + #abaContinuarJogando .conteudoAba #decisaoDoUsuario {
    grid-area: decisao;
    display: flex;
    justify-content: center;
    align-items: center;
}