:root {
    --cor-de-fundo: #0d0f12;
    --cor-dos-titulos: #00e5ff;
    --cor-do-texto-principal: #c5ced8;
    --cor-segundaria: #1e2530;
    --cor-do-texto-das-opcoes: #7000ff;
    --cor-de-alerta-e-destaques: #ff0055;
}