/*    Sistemas de Abas    */
.abas, #jogoPrincipal, #statusPersonagem, #historico {
    display: none;
}
#jogoPrincipal:checked + .abas {
    grid-area: abaVisualizada;
}
#statusPersonagem:checked + .abas {
    grid-area: abaVisualizada;
}
#historico:checked + .abas {
    grid-area: abaVisualizada;
}

/*    Grid    */
body {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "header header"
        "sideBar abaVisualizada"
    ;
}
.sideBar {
    grid-area: sideBar;
    background-color: var(--cor-segundaria);
    justify-content: column;
}
header {
    grid-area: header;
    background-color: var(--cor-segundaria);
}