/*    Sistemas de Abas    */
.abas, #jogoPrincipal, #statusPersonagem, #historico {
    display: none;
};
#jogoPrincipal:checked + .abas {
    display: block;
};
#statusPersonagem + .abas {
    display: block;
};
#historico:checked + .abas {
    display: block;
}